:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #fff;
  --accent-color: #2196f3;
  --accent-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --icon-color: #afb1b8;
  --margin-between-section: 94px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

ul {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.m-page-headlines {
  font-size: 36px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.effect {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.effect:hover,
.effect:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.nav__item2:nth-child(1):before,
.nav__item2:nth-child(2):before,
.footer__btn::after,
.feat__headline::before,
.feat__headline:nth-child(1)::before,
.feat__headline:nth-child(2)::before,
.feat__headline:nth-child(3)::before,
.feat__headline:nth-child(4)::before,
.soc-box__link::before,
.soc-box__link:nth-child(1):before,
.soc-box__link:nth-child(2):before,
.soc-box__link:nth-child(3):before,
.soc-box__link:nth-child(4):before,
.client__link::before,
.client__link:nth-child(1)::before,
.client__link:nth-child(2)::before,
.client__link:nth-child(3)::before,
.client__link:nth-child(4)::before,
.client__link:nth-child(5)::before,
.client__link:nth-child(6)::before,
.form__text-mark::after,
.form__text-mark:nth-child(1)::after,
.form__text-mark:nth-child(2)::after,
.form__text-mark:nth-child(3)::after,
.close-btn::after {
  content: "";
  outline: purple solid 3px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  fill: currentColor;
}

.nav__item2:nth-child(1):before {
  background-image: url("../../images/svg/envelope.svg");
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.nav__item2:nth-child(2):before {
  background-image: url("../../images/svg/smartphone.svg");
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.footer__btn::after {
  background-image: url("../../images/svg/telegram.svg");
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.feat__headline::before {
  width: 70px;
  height: 70px;
}

.feat__headline:nth-child(1)::before {
  background-image: url("../../images/svg/feats/antenna.svg");
}

.feat__headline:nth-child(2)::before {
  background-image: url("../../images/svg/feats/clock.svg");
}

.feat__headline:nth-child(3)::before {
  background-image: url("../../images/svg/feats/diagram.svg");
}

.feat__headline:nth-child(4)::before {
  background-image: url("../../images/svg/feats/astronaut.svg");
}

.soc-box__link::before {
  width: 20px;
  height: 20px;
}

.soc-box__link:nth-child(1):before {
  background-image: url("../../images/svg/social-links/instagram.svg");
}

.soc-box__link:nth-child(2):before {
  background-image: url("../../images/svg/social-links/twitter.svg");
}

.soc-box__link:nth-child(3):before {
  background-image: url("../../images/svg/social-links/facebook.svg");
}

.soc-box__link:nth-child(4):before {
  background-image: url("../../images/svg/social-links/linkedin.svg");
}

.client__link::before {
  width: 106px;
  height: 60px;
}

.client__link:nth-child(1)::before {
  background-image: url("../../images/svg/clients/Logoclient-1.svg");
}

.client__link:nth-child(2)::before {
  background-image: url("../../images/svg/clients/Logoclient-2.svg");
}

.client__link:nth-child(3)::before {
  background-image: url("../../images/svg/clients/Logoclient-3.svg");
}

.client__link:nth-child(4)::before {
  background-image: url("../../images/svg/clients/Logoclient-4.svg");
}

.client__link:nth-child(5)::before {
  background-image: url("../../images/svg/clients/Logoclient-5.svg");
}

.client__link:nth-child(6)::before {
  background-image: url("../../images/svg/clients/Logoclient-6.svg");
}

.form__text-mark::after {
  width: 18px;
  height: 18px;
}

.form__text-mark:nth-child(1)::after {
  background-image: url("../../images/svg/modal/person.svg");
}

.form__text-mark:nth-child(2)::after {
  background-image: url("../../images/svg/modal/phone.svg");
}

.form__text-mark:nth-child(3)::after {
  background-image: url("../../images/svg/modal/mail.svg");
}

.close-btn {
  background-image: url("../../images/svg/modal/close.svg");
  width: 18px;
  height: 18px;
}

.header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute 0 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__pages-list,
.nav__contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__contacts-list {
  margin-left: auto;
  justify-self: flex-end;
}

.nav__item1:not(:first-child),
.nav__item2:not(:first-child) {
  margin-left: 50px;
}

.logo {
  font-family: Raleway, sans-serif;
  margin-right: 93px;
  font-size: 26px;
  line-height: 1.19231;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  font-weight: 700;
}

.header__logo {
  color: black;
}

.nav__page {
  font-size: 16px;
  line-height: 0.875;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  font-weight: 500;
  position: relative;
}

.nav__contact {
  font-size: 16px;
  line-height: 0.875;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  font-weight: 500;
}

.nav__contact:first-child::before {
  background-image: url("../../images/svg/envelope.svg");
  width: 16px;
  height: 12px;
}

.nav__contact:nth-child(2)::before {
  background-image: url("../../images/svg/smartphone.svg");
  width: 10px;
  height: 16px;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -31px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.current.link {
  color: var(--accent-color);
  outline: var(--accent-color);
}

.button {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus {
  outline: 1px solid var(--accent-color);
}

.close-btn {
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

.close-btn {
  fill: currentColor;
}

.close-btn:hover,
.close-btn:focus {
  color: var(--accent-color);
  outline: var(--accent-color);
}

.footer {
  background-color: var(--accent-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__third-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__second-box {
  margin-left: 70px;
}

.footer__third-box {
  margin-left: auto;
  justify-self: flex-end;
}

.footer .soc-box {
  color: #fff;
}

.footer__headline {
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.adress__link {
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.adress__item:not(:last-child) {
  margin-top: 9px;
}

.footer__logo {
  color: var(--third-text-color);
}

.form-f__email {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  font-weight: 400;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: var(--accent-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.form__join .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal {
  width: 528px;
  min-height: 600px;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.n-user-form__headline {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.n-user-form {
  display: block;
  padding: 40px;
}

.n-user-form__box {
  position: relative;
  margin-bottom: 28px;
}

.n-user-form__input {
  color: var(--primary-text-color);
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

#form-comment {
  min-height: 120px;
  padding: 12px 16px;
  resize: none;
}

.form__text-mark {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -18px;
}

.m-form__license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contract-descr__link {
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  font-weight: 400;
  text-decoration: none;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.m-form__confirm {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.m-form__contr-props {
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: --secondary-text-color;
  font-weight: 400;
  margin-bottom: 30px;
}

.m-form__contr-props::before {
  content: "";
  width: 16px;
  height: 15px;
  display: inline-block;
  background-image: url(../../images/svg/form-unchecked-box.svg);
  border: #212121 solid 2px;
  border-radius: 2px;
  background-origin: border-box;
  margin-right: 8px;
}

.m-form__confirm:checked + .m-form__contr-props::before {
  content: "";
  background-image: url("../../images/svg/form-checked-box.svg");
  background-color: var(--accent-color);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.hero {
  height: 600px;
  padding-top: 200px;
  background-color: var(--accent-background-color);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img/hero/hero.jpg);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__headline {
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  font-weight: 900;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.features {
  padding-top: var(--margin-between-section);
  padding-bottom: var(--margin-between-section);
}

.feat__box-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.feat__icon-box {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
}

.feat__box-item {
  width: 270px;
}

.feat__headline::before {
  width: 70px;
  height: 70px;
}

.feat__headline {
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  font-weight: 700;
  margin-bottom: 10px;
}

.feat__description {
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  font-weight: 400;
}

.feat__box-item:not(:first-child) {
  margin-left: 30px;
}

.work-dirrections {
  padding-bottom: var(--margin-between-section);
}

.work-dirrections__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-dirrections__box {
  position: relative;
}

.work-dirrections__list-items:not(:first-child) {
  margin-left: 30px;
}

.work-dirrections__description {
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  font-weight: 700;
  text-transform: uppercase;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-team {
  padding-top: var(--margin-between-section);
  padding-bottom: var(--margin-between-section);
  background-color: var(--secondary-background-color);
}

.our-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-team__card:not(:first-child) {
  margin-left: 30px;
}

.our-team__card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.members {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--secondary-background-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.members__name {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  font-weight: 500;
  margin-bottom: 10px;
}

.members__position {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  font-weight: 400;
  margin-bottom: 16px;
}

.soc-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.soc-box__link {
  color: var(--icon-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-box__link:not(first-child) {
  margin-left: 10px;
}

.soc-box__link:hover,
.soc-box__link:focus {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  outline: var(--accent-color);
}

.clients {
  padding-top: var(--margin-between-section);
  padding-bottom: var(--margin-between-section);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client__link {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}

.clients__item:not(:first-child) {
  margin-left: 30px;
}

.portfolio {
  padding-top: var(--margin-between-section);
  padding-bottom: var(--margin-between-section);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons__item:not(:first-child) {
  margin-left: 8px;
}

.filter__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  font-weight: 500;
  border: none;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:focus,
.filter__btn:hover {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

.examples__item {
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overtext {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  color: white;
  font-weight: 400;
  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples__item {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples__item:hover .overtext {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.goods-card__img-box {
  position: relative;
  overflow: hidden;
}

.goods-descr__box {
  padding: 20px 24px;
  border-inline: #eeeeee solid 1px;
  border-bottom: #eeeeee solid 1px;
}

.goods-descr__header {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  font-weight: 700;
  margin-bottom: 4px;
}

.goods-descr__text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */