.hero {
  height: 600px;
  padding-top: 200px;
  background-color: var(--accent-background-color);
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.hero__headline {
  @include fonts(44px, 60px, 0.06em, var(--third-text-color), 900);
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px auto;
}
