.clients {
  padding-top: var(--margin-between-section);
  padding-bottom: var(--margin-between-section);
  display: flex;
}
.clients__list {
  display: flex;
}
.client__link {
  width: 170px;
  height: 92px;

  display: flex;

  border: 1px solid var(--icon-color);
  border-radius: 4px;
}
.clients__item:not(:first-child) {
  margin-left: 30px;
}
