.portfolio {
  padding-top: var(--margin-between-section);
  padding-bottom: var(--margin-between-section);
}
.buttons {
  display: flex;
  justify-content: center;
}

.buttons__item:not(:first-child) {
  margin-left: 8px;
}
.filter__btn {
  padding: 6px 22px;

  font-family: inherit;
  @include fonts(16px, 26px, 0.03em, $fw: 500);
  border: none;
  border-radius: 4px;

  background-color: var(--secondary-background-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:focus,
.filter__btn:hover {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.examples__item {
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overtext {
  padding: 63px 24px;

  @include fonts(18px, 28px, $col: white);

  background-color: var(--accent-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__item:hover .overtext {
  transform: translateY(0);
}
.examples__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.goods-card__img-box {
  position: relative;
  overflow: hidden;
}
.goods-descr__box {
  padding: 20px 24px;
  border-inline: #eeeeee solid 1px;
  border-bottom: #eeeeee solid 1px;
}
.goods-descr__header {
  @include fonts(18px, 36px, 0.06em, $fw: 700);
  margin-bottom: 4px;
}
.goods-descr__text {
  @include fonts(16px, 30px, $col: var(--secondary-text-color));
}
