.nav__item2,
.footer__btn,
.feat__headline,
.soc-box__link,
.client__link,
.form__text-mark,
.close-btn,
.m-form__license {
  display: flex;
  position: relative;
}
.close-btn {
  left: 490px;
  top: 8px;
}
